@model DeliverySite.ModelView.OrderViewModel

@{
    ViewBag.Title = "OrderNumber";
    Layout = "~/Views/Shared/_LayoutManagers.cshtml";
}

<h2>Number of Orders:</h2>

<!DOCTYPE html>
<html>
<head>

</head>
<body id="test1">
    <table id="table" class="table">
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                ID
            </th>

            <th>
                Date
            </th>
        </tr>
        @foreach (var item in Model.orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Re-Order", "ReOrder", new { id = item.OrderNum })
                </td>
            </tr>
        }
    </table>
    Total Orders: @Model.orders.Count()
    <br />
    <div>
        @Html.ActionLink("Back to Menu", "EditCompanies")
    </div>
</body>
</html>
