@model DeliverySite.ModelView.OrderViewModel

@{
    ViewBag.Title = "ShowOrders";
    Layout = "~/Views/Shared/_LayoutManagers.cshtml";

}

<h2>Show Orders</h2>

<table class="table">
    <tr>
        <th>
                @Html.DisplayNameFor(model => model.order.CompanyCode)
            </th>
        <th>
            @Html.DisplayNameFor(model => model.order.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.UserFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.UserLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.UserId)
        </th>
        <th>
            Date
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model.orders)
    {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.CompanyCode)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.Date)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to List", "ShowOrders")
</div>