@{
    ViewBag.Title = "Delivey Site";
}



<style>

    body {
        background: #E6E6FA;
       
    }

    .hallo {
        float: right;
        margin-top: 15px;
        font-size: medium;
    }

    .footer {
        background: #d3d0d0;
        color: black;
        line-height: 50px;
        padding: 0 20px;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Delivery Store</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home Page", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Manager Menu", "ManagerWindow", "Manager")</li>
                    <li>@Html.ActionLink("Products", "ShowProducts", "Product")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li id="signout">@Html.ActionLink("Sign out", "SignOut", "Home")</li>
                    <li>@Html.ActionLink("Change Password", "ChangePassword", "Manager")</li>

                </ul>
                <span class="hallo" style="color:red">Welcome @Session["UserName"]</span>

            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <div class="footer">
            <hr />

            <footer>
                <p>&copy; @DateTime.Now.Year - Delivery Site - Kfir Nahamani & Or Shalit & Shimon Emuna & Tomer Angel</p>
            </footer>
        </div>
    </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
