@model DeliverySite.ModelView.ProductViewModel
@{
    ViewBag.Title = "ShowProducts";
    if (Session["ManagerLoggedIn"] != null)
    {
        Layout = "~/Views/Shared/_LayoutManagers.cshtml";
    }
    else if (Session["UserLoggedIn"] != null)
    {
        Layout = "~/Views/Shared/_LayoutUsers.cshtml";
    }
    else if (Session["CompanyLoggedIn"] != null)
    {
        Layout = "~/Views/Shared/_LayoutCompanies.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

    }
}

<h2>Products</h2>


<style>
    body {
        background: white;
    }

    .search {
        float: left;
        margin: 20px;
    }

    table#t01 th {
        background-color: black;
        color: white;
    }

    .headLine {
        color: white;
        font-size: 130%;
        font-weight: bold;
    }

    table#t01 tr:nth-child(even) {
        background-color: white;
    }

    table#t01 tr:nth-child(odd) {
        background-color: white;
    }

    table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<!DOCTYPE html>
<html>
<head>

</head>
<body id="test1">
    <form class="search" action="SearchProducts" method="post">
        <div>
            <div class="col search">
                <input type="text" class="form-control" placeholder="Search by Product" name="PrdName" value="@Model.product.PrdName">
            </div>
            <div class="col search">
                <input type="text" class="form-control" placeholder="Search by Company Code" name="CompCode" value="@Model.product.CompCode">
            </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit" style="margin-top:10px;">Search</button>
    </form>

    <table id="table" class="table">
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Product Name
            </th>
            <th>
                Price
            </th>
            <th>
                Company Code
            </th>

        </tr>

        @foreach (var item in Model.products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PrdId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrdName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompCode)
                </td>
            </tr>
        }

    </table>

    <script>
        var myVal = '@Session["BigFont"]';
        if (myVal != null) {
            document.getElementById("test1").style.fontSize = "150%";
            document.getElementById("test1").style.fontWeight = "900";
            document.getElementById("table").style.fontSize = "200%";
            document.getElementById("table").style.fontWeight = "900";
        }
    </script>
</body>
</html>

