@model DeliverySite.ModelView.ProductViewModel
@using DeliverySite.Models
@{
    ViewBag.Title = "ShowPatients";
    Layout = "~/Views/Shared/_LayoutCompanies.cshtml";

}

<h2>Products:</h2>

<style>
    body {
        background: #E6E6FA;
    }

    .search {
        float: left;
        margin: 20px;
    }

    table#t01 th {
        background-color: black;
        color: white;
    }

    .headLine {
        color: deepskyblue;
        font-size: 130%;
        font-weight: bold;
    }

    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }

    table#t01 tr:nth-child(odd) {
        background-color: #fff;
    }

    table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

@*<form class="search" action="SearchPatients" method="post">
    <div>
        <div class="col search">
            <input type="text" class="form-control" placeholder="Search by id" name="Id" value="@Model.patient.Id">
        </div>
        <div class="col search">
            <input type="text" class="form-control" placeholder="Search by User Name" name="UserName" value="@Model.patient.UserName">
        </div>
        <div class="col search">
            <input type="text" class="form-control" placeholder="Search by First Name" name="FirstName" value="@Model.patient.FirstName">
        </div>
        <div class="col search">
            <input type="text" class="form-control" placeholder="Search by Last Name" name="LastName" value="@Model.patient.LastName">
        </div>
    </div>
    <button class="btn btn-primary btn-block" type="submit" style="margin-top:10px;">Search</button>
</form>
@TempData["error_search"]*@

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Company Code
        </th>
        <th>
            ID
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrdId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PrdId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PrdId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PrdId })
            </td>
        </tr>
    }

</table>
